
data/cifar10/cifar-10-python.tar.gz
data/cifar10/cifar-10-batches-py/test_batch
data/cifar10/cifar-10-batches-py/readme.html
data/cifar10/cifar-10-batches-py/data_batch_5
data/cifar10/cifar-10-batches-py/data_batch_4
data/cifar10/cifar-10-batches-py/data_batch_3
data/cifar10/cifar-10-batches-py/data_batch_2
data/cifar10/cifar-10-batches-py/data_batch_1
data/cifar10/cifar-10-batches-py/batches.meta
convolution/cifar10/cifar-10-batches-py/batches.meta
convolution/cifar10/cifar-10-batches-py/data_batch_1
convolution/cifar10/cifar-10-batches-py/data_batch_2
convolution/cifar10/cifar-10-batches-py/data_batch_3
convolution/cifar10/cifar-10-batches-py/data_batch_4
convolution/cifar10/cifar-10-batches-py/data_batch_5
convolution/cifar10/cifar-10-batches-py/readme.html
convolution/cifar10/cifar-10-batches-py/test_batch
convolution/cifar10/cifar-10-python.tar.gz
CNNmilestone/data/cifar-10-python.tar.gz
CNNmilestone/data/cifar-10-batches-py/test_batch
CNNmilestone/data/cifar-10-batches-py/readme.html
CNNmilestone/data/cifar-10-batches-py/batches.meta
CNNmilestone/data/cifar-10-batches-py/data_batch_1
CNNmilestone/data/cifar-10-batches-py/data_batch_2
CNNmilestone/data/cifar-10-batches-py/data_batch_3
CNNmilestone/data/cifar-10-batches-py/data_batch_4
CNNmilestone/data/cifar-10-batches-py/data_batch_5
styletransfer/mnist_train_small.csv
transferlearning/data/FashionMNIST/processed/training.pt
transferlearning/data/FashionMNIST/processed/test.pt
transferlearning/data/FashionMNIST/raw/t10k-images-idx3-ubyte
transferlearning/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
transferlearning/data/FashionMNIST/raw/train-labels-idx1-ubyte
transferlearning/data/FashionMNIST/raw/train-images-idx3-ubyte
transferlearning/mnist_train_small.csv
transferlearning/data/stl10_binary.tar.gz
transferlearning/data/stl10_binary/class_names.txt
transferlearning/data/stl10_binary/fold_indices.txt
transferlearning/data/stl10_binary/test_X.bin
transferlearning/data/stl10_binary/test_y.bin
transferlearning/data/stl10_binary/train_X.bin
transferlearning/data/stl10_binary/train_y.bin
transferlearning/data/stl10_binary/unlabeled_X.bin
transferlearning/data/cifar-10-batches-py/batches.meta
transferlearning/data/cifar-10-batches-py/data_batch_1
transferlearning/data/cifar-10-batches-py/data_batch_2
transferlearning/data/cifar-10-batches-py/data_batch_3
transferlearning/data/cifar-10-batches-py/data_batch_4
transferlearning/data/cifar-10-batches-py/data_batch_5
transferlearning/data/cifar-10-batches-py/readme.html
transferlearning/data/cifar-10-batches-py/test_batch
transferlearning/data/cifar-10-python.tar.gz
GANs/data/FashionMNIST/raw/t10k-images-idx3-ubyte
GANs/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
GANs/data/FashionMNIST/raw/train-images-idx3-ubyte
GANs/data/FashionMNIST/raw/train-labels-idx1-ubyte
GANs/data/FashionMNIST/processed/training.pt
GANs/data/FashionMNIST/processed/test.pt
